:root{
    --mount-meadow: #1bbc9c;
    --white-smoke: #f0f0f0;
    --night-rider: #343434;
    --black: #191b17;
    --transition: all 0.5s ease-in-out;
}
*{
    font-family: 'Hind Siliguri', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    color: var(--black);
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}

/* setup & reusable stylings */
img{
    width: 100%;
}
a{
    text-decoration: none;
    color: var(--black);
}
li{
    list-style-type: none;
}
button{
    cursor: pointer;
    outline: 0;
    background: transparent;
}
.container{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 1rem;
}

.nav_container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6{
    margin: 0.6rem 0;
    line-height: 1.25;
    font-weight: 400;
    text-transform: capitalize;
}
.text{
    margin: 0.6rem 0;
    opacity: 0.8;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
section{
    padding: 6.5rem 0;
}
.title{
    padding: 0.6rem 0;
    text-align: center;
}
.title h2{
    font-size: 2.2rem;
    color: var(--night-rider);
}
.title .text{
    font-weight: 500;
    font-size: 1.1rem;
}

/* header */
.header{
    background-image: linear-gradient(rgb(64,25,178),rgb(64,25,178));
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 999;
}
/* You can adjust the logo size and other styles as needed */
.navbar-brand img {
    max-width: 100px; /* Adjust the logo's width as needed */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Remove any potential spacing issues */
    margin-right: 10px; /* Add spacing between the logo and text */
  }
  
  .navbar-brand {
    display: flex;
    align-items: center; /* Vertically center the logo and text */
    color: #fff; /* Text color */
    text-decoration: none; /* Remove underlines from the link */
    font-weight: bold; /* Make the text bold */
    font-size: 1.65rem; /* Adjust the font size as needed */
    padding: 0.8rem 0;
  }
  
.brand-and-toggler{
    font-size: 1.65rem;
    padding: 0.8rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-brand{
    font-weight: 500;
    color: var(--night-rider);
}
.navbar-brand span{
    color: var(--mount-meadow);
}
.navbar-toggler{
    border: none;
    color: var(--mount-meadow);
}
.navbar-nav{
    margin: 0.2rem 0 0.6rem 0;
}
.nav-item{
    padding: 0.6rem 0;
}
.nav-link{
    text-transform: uppercase;
    font-size: 0.95rem;
    letter-spacing: 1.5px;
    font-weight: 400;
    opacity: 0.65;
    transition: var(--transition);
}
.nav-link:hover{
    color: var(--mount-meadow)!important;
}
.navbar-collapse{
    display: none;
}
.hero-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.first-step-wrapper {
    display: flex;
    margin-top: 15%;
}

.team_container {
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    margin: 0 auto;
}

.hero-content {
    flex: 1;
    text-align: left; /* Adjusted to left-align the text */
}

h1 {
    font-size: 20px;
    margin: 0;
}

.subtitle {
    font-size: 18px;
    margin: 5px 0;
}

.hero-image {
    flex: 1;
    text-align: right; /* Adjusted to right-align the image */
}

.hero-image img {
    max-width: 100%;
    height: auto;
}

/* detail */
.detail{
    background: var(--white-smoke);
}
.detail-item{
    background: #fff;
    text-align: center;
    box-shadow: 0 1px 2px 0 rgba(90, 91, 95, 0.1);
    -webkit-box-shadow: 0 1px 2px 0 rgba(90, 91, 95, 0.1);
    -moz-box-shadow: 0 1px 2px 0 rgba(90, 91, 95, 0.1);
    margin: 2rem 0;
    padding: 3.5rem 1.5rem;
    border-radius: 4px;
    transition: var(--transition);
}
.detail-item:hover{
    -webkit-box-shadow: 0 21px 19px -2px rgba(217, 217, 217, 1);
    -moz-box-shadow: 0 21px 19px -2px rgba(217, 217, 217, 1);
    box-shadow: 0 21px 19px -2px rgba(217, 217, 217, 1);
    transform: translateY(-5px);
}
.detail-item span{
    font-size: 2.5rem;
}
.detail-item h2{
    font-size: 1.4rem;
    opacity: 0.8;
    font-weight: 300;
}
.line{
    width: 45px;
    margin: 1.2rem auto;
    background: var(--mount-meadow);
    height: 2.5px;
}

.testimonial_container {
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    margin: 0 auto;
}


/* styles.css */

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.detail-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Ensure the right side doesn't collapse */
}

.features {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feature {
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 0 0 20px;
    width: 100%; /* Ensure each feature takes full width */
}

/* Left image container */
.image-container{
    width: 60px;
    height: 60px;
    margin: 0 10px 10px 0; /* Adjust margin to control spacing between images */
    overflow: hidden;
}

/* Right image container */
.image-container2 {
    width: 60px;
    height: 60px;
    margin: 0 0 10px 10px; /* Adjust margin to control spacing between images */
    overflow: hidden;
}


.feature img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

h2 {
    font-size: 18px;
    margin: 10px 0;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin: 5px 0;
}






/* team */
.team .row{
    margin-top: 2rem;
}
.team-item{
    margin: 2rem 0;
}
.team-img{
    position: relative;
}
.team-icons{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    background: var(--white-smoke);
    opacity: 0;
    transition: var(--transition);
}
.team-icons a{
    color: var(--night-rider);
    width: 50px;
    height: 50px;
    transition: var(--transition);
}
.team-icons a:hover{
    background: var(--mount-meadow);
    color: #fff;
}
.team-img:hover .team-icons{
    opacity: 1;
}
.team-info{
    text-align: center;
    padding: 1.5rem;
    line-height: 1;
}
.team-info h3{
    font-size: 1.4rem;
    color: var(--night-rider);
}
.team-info span{
    font-size: 0.85rem;
    letter-spacing: 1px;
    font-weight: 500;
    opacity: 0.7;
}




/* pricing */
.pricing .row{
    margin-top: 2rem;
}
.pricing-item{
    border: 2.5px solid #4c00da;
    text-align: center;
    padding: 3.4rem 0;
    margin: 2rem 0;
}
.pricing-item h2{
    color: var(--night-rider);
    opacity: 0.7;
    font-size: 1.5rem;
}
.pricing-item .price{
    padding: 1.5rem 0 1rem 0;
    line-height: 1.1;
}
.pricing-item .price span{
    display: block;
}
.pricing-item .price span:first-child{
    font-size: 2.6rem;
    letter-spacing: 2px;
    color: var(--mount-meadow);
}
.pricing-item .price span:last-child{
    font-size: 0.85rem;
    letter-spacing: 1;
    font-weight: 500;
}
.pricing-item ul li{
    padding: 0.8rem 0;
    opacity: 0.7;
}

/* testimonial */
.testimonial{
    background-image: linear-gradient(rgb(70, 0, 235), rgba(162, 0, 255, 0.9));
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.testimonial .title h2,
.testimonial .title{
    color: #fff;
}
.testimonial .row{
    margin-top: 2rem;
}
.testimonial-img{
    border: 4px solid #fff;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 2.5rem auto;
    padding: 0.5rem;
}
.testimonial-img img{
    border-radius: 50%;
}
.testimonial-item{
    text-align: center;
}
.testimonial-item p{
    font-size: 1.3rem;
    color: var(--white-smoke);
    line-height: 1.7;
}
.testimonial-item span{
    margin-top: 0.7rem;
    display: block;
    font-size: 1.1rem;
    color: #fff;
    font-weight: 500;
}
.testimonial-item span{
    margin-top: 0.7rem;
    display: block;
    font-size: 1.1rem;
    color: #fff;
    font-weight: 500;
}




/* footer */
.footer {
    text-align: center;
    background: #3c01d1; /* Purpleish-Blue Color */
    color: var(--white-smoke);
    padding: 2rem 0;
}

.contact-info {
    display: flex;
    justify-content: center;
    margin-top: 1.6rem;
}

.contact-item {
    margin: 0 1rem; /* Add spacing between contact items */
}

.contact-item img {
    width: 30px; /* Adjust the size of contact icons */
    height: 30px;
    margin-right: 0.5rem; /* Add spacing between icon and text */
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 1.6rem;
}

.social-icons a {
    color: var(--white-smoke);
    opacity: 0.8;
    width: 40px; /* Adjust the size of social icons */
    height: 40px;
    margin: 0 0.5rem; /* Add spacing between social icons */
    border-radius: 50%;
    transition: var(--transition);
}

.social-icons a:hover {
    background: var(--mount-meadow);
}


.pricing .container {
    display: block;
}









/* #### Media Queries #### */

@media screen and (max-width: 768px){
    .nav_container {
        display: block;
        justify-content: space-between;
        align-items: flex-start;
        padding: 20px;
        max-width: 1200px;
        margin: 0 auto;
    }
    .detail .row{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 0rem;
    }
    .detail-item{
        margin: 0;
        padding: 0 1.5rem;
    }
    .video h2{
        font-size: 2.6rem;
    }
    .video p{
        font-size: 1.2rem;
        width: 75%;
        margin: 0 auto;
    }
    .team-item{
        margin: 0;
    }
    .faq .row{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .pricing .row{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
    }
    .pricing-item{
        margin: 0;
    }
    .testimonial-item p{
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }
    .contact .row{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
    .contact-right > div:first-child{
        margin-top: 0;
    }

    .header {
        min-height: auto;
    }

    .section {
        padding: 2.5rem 0; 
    }

    .hide_on_mobile {
        display: none !important;
    }

    .feature {
        margin: 20px 0;
    }

    .pricing .container {
        display: block;
    }

    .footer .container {
        display: block;
    }

    .team {
        padding: 0;
    }

    .detail {
        padding: 0;
    }

    .detail .container {
        padding: 1.5rem 0 0;
    }

    .navbar {
        position: initial;
        background-image: linear-gradient(rgb(64,25,178),rgb(64,25,178));
    }

    .nav-link {
        color: #FFF;
    }
}

@media screen and (min-width: 992px){
    .navbar{
        background: transparent;
        margin-top: 1.4rem;
    }
    .navbar .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .navbar-brand{
        color: var(--white-smoke);
        font-size: 2rem;
    }
    .navbar-toggler{
        display: none;
    }
    .navbar-collapse{
        display: block!important;
    }
    .navbar-nav{
        display: flex;
        margin: 0;
    }
    .nav-item{
        margin-left: 1.8rem;
    }
    .nav-link{
        color: var(--white-smoke);
    }
    .hero-div h1{
        font-size: 3.8rem;
    }
    .btn-trans{
        display: inline-block;
        margin-right: 0.8rem;
    }

    /* navbar change */
    .cng-navbar{
        -webkit-box-shadow: 0 2px 5px 0 rgba(207, 205, 207, 0.3);
        -moz-box-shadow: 0 2px 5px 0 rgba(207, 205, 207, 0.3);
        box-shadow: 0 2px 5px 0 rgba(207, 205, 207, 0.3);
        margin-top: 0;
        background: #fff;
    }
    .cng-navbar .navbar-brand{
        color: var(--night-rider);
    }
    .cng-navbar .nav-link{
        color: var(--night-rider);
    }
    .feature .row{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        column-gap: 2rem;
    }
    .feature-right{
        margin-top: 0;
    }
    .video p{
        width: 60%;
    }
}

@media screen and (min-width: 1200px){
    .hero-div h1{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    .detail .row{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
    }
    .pricing .row{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
    }

    .contact .row{
        column-gap: 4rem;
    }
    .contact-right{
        padding-left: 4rem!important;
    }
}
